<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cisco CCNA v7 - Modules {{ MODULE }}</title>
    <meta name="darkreader-lock">
    <meta name="theme-color" content="#000">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="questions-container"></div>
    <button id="next-btn">Submit</button>
    <div class="copyright">
        <a href="https://phoenixthrush.com" target="_blank" rel="noopener noreferrer">© 2025-{{ YEAR }} phoenixthrush</a>
    </div>
    <script src="main.js"></script>
</body>

</html>